.node-red/flows.json
[
    {
        "id": "1fc4bc11983bdd05",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5bc4251d378fd630",
        "type": "ui_group",
        "name": "ui",
        "tab": "0256eb418eed7f92",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e44bf60c40d011d0",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0256eb418eed7f92",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "1822a3a39ae779c5",
        "type": "debug",
        "z": "1fc4bc11983bdd05",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 280,
        "wires": []
    },
    {
        "id": "5d3ab9955a936a4e",
        "type": "inject",
        "z": "1fc4bc11983bdd05",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "fcf0c7ab06402c21"
            ]
        ]
    },
    {
        "id": "fcf0c7ab06402c21",
        "type": "function",
        "z": "1fc4bc11983bdd05",
        "name": "function 1",
        "func": "// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [
            [
                "1822a3a39ae779c5"
            ]
        ]
    },
    {
        "id": "2fc2fa89063d01ec",
        "type": "inject",
        "z": "1fc4bc11983bdd05",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 320,
        "wires": [
            [
                "2bd05d4f19bfb147"
            ]
        ]
    },
    {
        "id": "2bd05d4f19bfb147",
        "type": "http request",
        "z": "1fc4bc11983bdd05",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 320,
        "wires": [
            [
                "52c3b0668f6b8b31"
            ]
        ]
    },
    {
        "id": "52c3b0668f6b8b31",
        "type": "csv",
        "z": "1fc4bc11983bdd05",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1030,
        "y": 320,
        "wires": [
            [
                "7a4785f6c2c8d701"
            ]
        ]
    },
    {
        "id": "7a4785f6c2c8d701",
        "type": "debug",
        "z": "1fc4bc11983bdd05",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 320,
        "wires": []
    },
    {
        "id": "8c085458bfb5745c",
        "type": "http in",
        "z": "1fc4bc11983bdd05",
        "name": "",
        "url": "/HeatSeekers",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 520,
        "wires": [
            [
                "6eb1bdbd66a5da10"
            ]
        ]
    },
    {
        "id": "5aeb01caff90d991",
        "type": "http response",
        "z": "1fc4bc11983bdd05",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 520,
        "wires": []
    },
    {
        "id": "6eb1bdbd66a5da10",
        "type": "template",
        "z": "1fc4bc11983bdd05",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 420,
        "y": 580,
        "wires": [
            [
                "5aeb01caff90d991"
            ]
        ]
    },
    {
        "id": "5de90033ff8846a1",
        "type": "ui_button",
        "z": "1fc4bc11983bdd05",
        "name": "",
        "group": "5bc4251d378fd630",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Hello",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 680,
        "wires": [
            [
                "e0bed455e1d8f99f"
            ]
        ]
    },
    {
        "id": "e0bed455e1d8f99f",
        "type": "ui_text",
        "z": "1fc4bc11983bdd05",
        "group": "5bc4251d378fd630",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "hey",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 680,
        "wires": []
    }
]